* {
  font-family: "Kanit", sans-serif;
}
body {
  background-image: url("https://c4.wallpaperflare.com/wallpaper/591/957/230/simple-background-digital-art-minimalism-artwork-wallpaper-preview.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-attachment: fixed;
  background-size: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
h1 {
  text-align: center;
  text-shadow: 0 0 1px black;
}

.search-bar {
  display: flex;
  justify-content: center;
  text-align: center;
}
.footer-text {
  justify-content: end;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #f4f3f3;
}
.navbar-brand {
  color: #f4f3f3;
  text-decoration: none;
}
.navbar-brand2 {
  color: #000;
  text-decoration: none;
}
.card-body {
  padding: 10px;
}
.card-img-top {
  height: 250px;
}
.books {
  flex-wrap: wrap;
  gap: 10px;
}

.btn {
  margin: 5px;
}
.from {
  /* justify-content: center; */
  text-align: center;
  justify-content: center;
}
.form-control {
  justify-content: center;
  align-items: center;
  display: grid;
  margin: 3px;
  margin-top: 5px;
}
.card-detail {
  display: block;
  top: 0px;
  position: relative;
  max-width: 262px;
  background-color: #f2f8f9;
  border-radius: 4px;
  padding: 32px 24px;
  margin: 12px;
  text-decoration: none;
  z-index: 0;
  overflow: hidden;
  border: 1px solid #f2f8f9;

  &:hover {
    transition: all 0.2s ease-out;
    box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
    top: -4px;
    border: 1px solid #cccccc;
    background-color: white;
  }

  &:hover:before {
    transform: scale(2.15);
  }
}

.card .card-details p {
  margin: 0;
  padding: 0;
  line-height: 25px;
  font-size: 1.1em;
}

.card-detail-profile {
  display: block;
  top: 0px;
  left: 14%;
  position: relative;
  max-width: 1000px;
  background-color: #f2f8f9;
  border-radius: 4px;
  padding: 32px 24px;
  margin: 12px;
  text-decoration: none;
  z-index: 0;
  overflow: hidden;
  border: 1px solid #f2f8f9;
  justify-content: "center";
  text-align: center;
  margin-top: 5cm;

  &:hover {
    transition: all 0.2s ease-out;
    box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
    top: -4px;
    border: 1px solid #cccccc;
    background-color: white;
  }

  &:hover:before {
    transform: scale(2.15);
  }
}
.Carousel {
  display: inline-block;
  justify-content: center;
  width: 20cm;
  margin-top: 2;
  text-align: center;
  left: 15%;
}
/* Allbook.css */

.page-title {
  margin-top: 2cm;
  text-align: center;
  font-size: 25px;
}

.search {
  margin-bottom: 20px; /* เพิ่มระยะห่างด้านล่างของช่องค้นหา */
}

.container {
  display: flex;
  justify-content: space-between;
}

.menu {
  width: 30%; /* กำหนดความกว้างของเมนู */
}

.menu ul {
  list-style-type: none; /* ลบ bullet point ของรายการเมนู */
  padding: 0;
}

.menu ul li {
  padding: 10px;
  background-color: #f2f2f2; /* เพิ่มสีพื้นหลังของรายการเมนู */
  margin-bottom: 5px; /* เพิ่มระยะห่างด้านล่างของรายการเมนู */
}

.allbook {
  width: 65%; /* กำหนดความกว้างของเนื้อหา */
}

.content h2 {
  font-size: 20px;
  margin-bottom: 10px; /* เพิ่มระยะห่างด้านล่างของหัวข้อ */
}

.content p {
  font-size: 16px;
}

